<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDL3sLhrJyFjBWWFoIjMqedpnXnaJcWf5k</string>
	<key>GCM_SENDER_ID</key>
	<string>924304633509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mahasuBugel</string>
	<key>PROJECT_ID</key>
	<string>mahasu-bugel-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>mahasu-bugel-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924304633509:ios:ded314261d5784a98ba74c</string>
</dict>
</plist>